body {
	font-family: 'Reem Kufi', sans-serif;
}

.brand-text {
	font-size: 30px;
	color: black;
}

#header-nav {
	background-color: #d9dbdb;
	border-radius: 0;
	border: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list a {
	color: #000;
	background-color: #fff;
	border-bottom: 1px solid #000;
}

#nav-list a:hover {
	background-color: #E8FFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #000;
}

.navbar-nav  {
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
}

#chicken-tile, #beef-tile, #sushi-tile {
	height: 1000px;
	width: 100%;
	margin-top: 15px;
	position: relative;
	border: 1px solid #000;
	overflow: hidden;
	background-color: #d9dbdb;
	padding: 1em;
}

#chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover {
	box-shadow: 0 1px 5px 1px #ccc;
}

a:hover {
	text-decoration: none;
	color: #000;
}

a:focus {
	text-decoration: none;
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
}